# Basic Statistic Calculation

Importing the necessary modules and libraries

In [ ]:
import numpy as np
import pandas as pd

Uploading  data from excel to python

In [2]:
dat=pd.read_excel('C:/YellowBelt/Basic Statistic.xlsx')

Display the top of the DataFrame

In [3]:
dat.head()

            Timestamp     Flow     Temp
0 2020-01-01 00:00:00  153.691  80.4331
1 2020-01-01 01:00:00  154.099  81.5921
2 2020-01-01 02:00:00  149.657   82.319
3 2020-01-01 03:00:00  170.171  82.4797
4 2020-01-01 04:00:00  189.741  79.6605

Before proceeding to the calculations we should check the data type of the DataFrame, because mathematical operations can only be performed with numbers.

In [4]:
dat.dtypes

Timestamp    datetime64[ns]
Flow                 object
Temp                 object
dtype: object

Pay attention to the data type Object. This means that most likely our table contains text values.

In this case there is only one text object ‘No Data’ in the table and they are relatively few, therefore, we will replace them with 0. Once again, this is not the best way, but one of the easiest.

In [5]:
dat=dat.replace('No Data',0)

Chacking the result

In [6]:
dat.dtypes

Timestamp    datetime64[ns]
Flow                float64
Temp                float64
dtype: object

# Calculating the central tendency: mean, medan, mode

Flow

In [7]:
mean=dat['Flow'].mean()
median=dat['Flow'].median()
mode=dat['Flow'].mode()

print('The mean of the flow is ',np.round(mean,1),' м3/ч')
print('The median of the flow is ',np.round(median,1),' м3/ч')
print('The mode of the flow is ',np.round(mode,1),' м3/ч')

The mean of the flow is  161.4  м3/ч
The median of the flow is  211.3  м3/ч
The mode of the flow is  0    0.0
dtype: float64  м3/ч

It should be noted that for continuous variables, the mathematical calculation of the modes is a tricky and slippery process, which can lead to wrong conclusions

Temperature

In [8]:
mean=dat['Temp'].mean()
median=dat['Temp'].median()
mode=dat['Temp'].mode()

print('The mean of the temperature is ',np.round(mean,1),' 0C')
print('The median of the temperature is ',np.round(median,1),' 0C')
print('The mode of the temperature is ',np.round(mode,1),' 0C')

The mean of the temperature is  74.8  0C
The median of the temperature is  79.9  0C
The mode of the temperature is  0    16.4
dtype: float64  0C

# Calculating dispersion: variance, standard deviation, range

In [10]:
std=dat['Flow'].std()
var=dat['Flow'].var()
Range=dat['Flow'].max()-dat['Flow'].min()

print('The standard deviation of the flow is ',np.round(std,1),' m3/h')
print('The variance of the flow is ',np.round(var,1),' [m3/h]**2')
print('The range of the flow is ',np.round(Range,1),' m3/h')

The standard deviation of the flow is  95.8  m3/h
The variance of the flow is  9175.7  [m3/h]**2
The range of the flow is  286.5  m3/h

In [11]:
std=dat['Temp'].std()
var=dat['Temp'].var()
Range=dat['Temp'].max()-dat['Temp'].min()

print('The standard deviation of the temperature is ',np.round(std,1),' 0C')
print('The variance of the temperature is ',np.round(var,1),' [0C]**2')
print('The range of the temperature is ',np.round(Range,1),' 0C')

The standard deviation of the temperature is  17.4  0C
The variance of the temperature is  301.6  [0C]**2
The range of the temperature is  95.3  0C

# Calculating basic statistics in dynamics

In [12]:
dat.head()

            Timestamp        Flow       Temp
0 2020-01-01 00:00:00  153.690878  80.433116
1 2020-01-01 01:00:00  154.099492  81.592063
2 2020-01-01 02:00:00  149.656640  82.318956
3 2020-01-01 03:00:00  170.171335  82.479672
4 2020-01-01 04:00:00  189.740643  79.660519

Getting categorical variable from timestamp - months

In [13]:
dat['month_year']=dat['Timestamp'].dt.strftime('%m-%y')
dat.head()

            Timestamp        Flow       Temp month_year
0 2020-01-01 00:00:00  153.690878  80.433116      01-20
1 2020-01-01 01:00:00  154.099492  81.592063      01-20
2 2020-01-01 02:00:00  149.656640  82.318956      01-20
3 2020-01-01 03:00:00  170.171335  82.479672      01-20
4 2020-01-01 04:00:00  189.740643  79.660519      01-20

The statistics to be calculated in the from of a list

In [14]:
stat_list=['mean','sum','median','var','std','min','max']

Creating groupped DataFrame.

In [16]:
dat_tab=dat.groupby('month_year').agg({'Flow':stat_list,'Temp':stat_list})
dat_tab.head()

                  Flow                                                     \
                  mean            sum      median          var        std
month_year
01-20       208.858230  155390.523366  215.207827  1239.731125  35.209816
02-20       192.720845  134133.708377  216.292004  4129.301732  64.259643
03-20        26.641105   19820.982340   26.288624    25.408132   5.040648
04-20       124.438245   89595.536518  126.575638  9915.702990  99.577623
05-20       154.064101  114623.690939  204.427481  7746.074089  88.011784

                                        Temp                           \
                  min         max       mean           sum     median
month_year
01-20       24.000752  262.626092  78.039142  58061.121334  79.497799
02-20        0.000000  257.639249  75.980025  52882.097446  79.202422
03-20        0.000000   38.023277  77.346072  57545.477772  80.373867
04-20        3.061340  275.692500  79.166222  56999.679735  80.555430
05-20        0.000000  262.808583  68.388925  50881.359966  79.250499


                   var        std        min        max
month_year
01-20        76.447802   8.743443   4.844634  93.168172
02-20       201.705988  14.202323   1.325412  91.523860
03-20       171.972739  13.113838   4.275353  90.361182
04-20        77.916496   8.827032  15.450946  93.508958
05-20       541.406017  23.268133   0.000000  95.340019

Or you can dsiplay the whole table

In [17]:
dat_tab

                  Flow                                                     \
                  mean            sum      median          var        std
month_year
01-20       208.858230  155390.523366  215.207827  1239.731125  35.209816
02-20       192.720845  134133.708377  216.292004  4129.301732  64.259643
03-20        26.641105   19820.982340   26.288624    25.408132   5.040648
04-20       124.438245   89595.536518  126.575638  9915.702990  99.577623
05-20       154.064101  114623.690939  204.427481  7746.074089  88.011784
06-20       163.734870  117889.106677  212.033976  9329.729503  96.590525
07-20       248.179360  184645.444144  252.576868  1052.416073  32.440963
08-20       263.455612   22920.638259  274.405121  1218.633443  34.908931

                                        Temp                           \
                  min         max       mean           sum     median
month_year
01-20       24.000752  262.626092  78.039142  58061.121334  79.497799
02-20        0.000000  257.639249  75.980025  52882.097446  79.202422
03-20        0.000000   38.023277  77.346072  57545.477772  80.373867
04-20        3.061340  275.692500  79.166222  56999.679735  80.555430
05-20        0.000000  262.808583  68.388925  50881.359966  79.250499
06-20        0.000000  278.055342  63.528694  45740.659675  78.684034
07-20       36.935142  286.529330  80.062166  59566.251830  80.836480
08-20       42.009222  283.559237  80.383743   6993.385643  80.946641


                   var        std        min        max
month_year
01-20        76.447802   8.743443   4.844634  93.168172
02-20       201.705988  14.202323   1.325412  91.523860
03-20       171.972739  13.113838   4.275353  90.361182
04-20        77.916496   8.827032  15.450946  93.508958
05-20       541.406017  23.268133   0.000000  95.340019
06-20       797.004098  28.231261  12.811247  94.306563
07-20        45.501416   6.745474  23.860327  92.019701
08-20        57.534051   7.585120  27.301398  90.381887

The columns' names of the DataFrame

In [19]:
dat_tab.columns

MultiIndex([('Flow',   'mean'),
            ('Flow',    'sum'),
            ('Flow', 'median'),
            ('Flow',    'var'),
            ('Flow',    'std'),
            ('Flow',    'min'),
            ('Flow',    'max'),
            ('Temp',   'mean'),
            ('Temp',    'sum'),
            ('Temp', 'median'),
            ('Temp',    'var'),
            ('Temp',    'std'),
            ('Temp',    'min'),
            ('Temp',    'max')],
           )

New columns' names

In [20]:
column_list=['Flow_'+col for col in stat_list]+['Temp_'+col for col in stat_list]

Assigning these column names to our table (DataFrame)

In [21]:
dat_tab.columns=column_list

Calculating the range of flow and temperature

In [22]:
dat_tab['Temp_range']=dat_tab['Temp_max']-dat_tab['Temp_min']
dat_tab['Flow_range']=dat_tab['Flow_max']-dat_tab['Flow_min']

Rounding the values in the table

In [23]:
dat_tab=np.round(dat_tab,1)

The result

In [24]:
dat_tab

,Flow_mean,Flow_sum,Flow_median,Flow_var,Flow_std,Flow_min,Flow_max,Temp_mean,Temp_sum,Temp_median,Temp_var,Temp_std,Temp_min,Temp_max,Temp_range,Flow_range
month_year,,,,,,,,,,,,,,,,
01-20,208.9,155390.5,215.2,1239.7,35.2,24.0,262.6,78.0,58061.1,79.5,76.4,8.7,4.8,93.2,88.3,238.6
02-20,192.7,134133.7,216.3,4129.3,64.3,0.0,257.6,76.0,52882.1,79.2,201.7,14.2,1.3,91.5,90.2,257.6
03-20,26.6,19821.0,26.3,25.4,5.0,0.0,38.0,77.3,57545.5,80.4,172.0,13.1,4.3,90.4,86.1,38.0
04-20,124.4,89595.5,126.6,9915.7,99.6,3.1,275.7,79.2,56999.7,80.6,77.9,8.8,15.5,93.5,78.1,272.6
05-20,154.1,114623.7,204.4,7746.1,88.0,0.0,262.8,68.4,50881.4,79.3,541.4,23.3,0.0,95.3,95.3,262.8
06-20,163.7,117889.1,212.0,9329.7,96.6,0.0,278.1,63.5,45740.7,78.7,797.0,28.2,12.8,94.3,81.5,278.1
07-20,248.2,184645.4,252.6,1052.4,32.4,36.9,286.5,80.1,59566.3,80.8,45.5,6.7,23.9,92.0,68.2,249.6
08-20,263.5,22920.6,274.4,1218.6,34.9,42.0,283.6,80.4,6993.4,80.9,57.5,7.6,27.3,90.4,63.1,241.6

Saving information to excel file

In [25]:
writer=pd.ExcelWriter('C:/YellowBelt/Stat_final.xlsx')
dat_tab.to_excel(writer,'Data')
writer.save()