Importing the libraries and modules

Importing data from Excel

Checking data types

Timestamp                 datetime64[ns]
Electricity, MW/h                float64
Gas consumption, km3/h           float64
dtype: object

   Timestamp  Electricity, MW/h  Gas consumption, km3/h
0 2018-01-01          34.042624              108.816561
1 2018-01-02          33.719060              108.735638
2 2018-01-03          34.019193              108.815274
3 2018-01-04          33.984598              108.807703
4 2018-01-05          33.826620              108.758806

Efficiency calculation

In [6]:
dat['Efficiency']=

   Timestamp  Electricity, MW/h  Gas consumption, km3/h  Efficiency
0 2018-01-01          34.042624              108.816561    0.312844
1 2018-01-02          33.719060              108.735638    0.310101
2 2018-01-03          34.019193              108.815274    0.312633
3 2018-01-04          33.984598              108.807703    0.312336
4 2018-01-05          33.826620              108.758806    0.311024

# The task #1: Calculation of the main statistical parameters of the turbine.

Mean calculation

Mean of  Electricity, MW/h  is  31.7
Mean of  Gas consumption, km3/h  is  108.1
Mean of  Efficiency  is  0.3

Median calculation

Median of  Electricity, MW/h  is  32.5
Median of  Gas consumption, km3/h  is  108.5
Median of  Efficiency  is  0.3

Minimum and Maximum calculation

Minimum of  Electricity, MW/h  is  10.0
Minimum of  Gas consumption, km3/h  is  100.0
Minimum of  Efficiency  is  0.1
Maximum of  Electricity, MW/h  is  37.9
Maximum of  Gas consumption, km3/h  is  110.1
Maximum of  Efficiency  is  0.3

Range calculation

Range of  Electricity, MW/h  is  27.9
Range of  Gas consumption, km3/h  is  10.0
Range of  Efficiency  is  0.2

Standard deviation and Variance calculation

Standard deviation of  Electricity, MW/h  is  5.01
Standard deviation of  Gas consumption, km3/h  is  1.8
Standard deviation of  Efficiency  is  0.04
Standard deviation of  Electricity, MW/h  is  25.0738
Standard deviation of  Gas consumption, km3/h  is  3.2447
Standard deviation of  Efficiency  is  0.0019

Sum of Electricity Generation and Gas Consumption for the period. For efficiency it is not useful

Sum of  Electricity, MW/h  is  30837.0
Sum of  Gas consumption, km3/h  is  105217.0

# The task #2: Assess the performance of the turbine in dynamics. For three yeas 2018, 2019 and 2020

Getting the year from timestamp

The list of functions to calculate mean, median, sum, std, var, min, max

Groupped DataFrame

In [19]:
dat_tab=

     Electricity, MW/h                                                      \
                  mean     median           sum       std        var   min
year
2018         32.723035  33.214027  11943.907672  4.148757  17.212185  10.0
2019         31.301939  32.895462  11425.207698  6.129899  37.575656  10.0
2020         30.733396  31.777912   7468.215210  3.942850  15.546064  10.0

                Gas consumption, km3/h                            ...  \
            max                   mean      median           sum  ...
year                                                              ...
2018  37.900189             108.474820  108.636490  39593.309291  ...
2019  37.518253             107.948734  108.549256  39401.287755  ...
2020  34.789254             107.911389  108.258369  26222.467638  ...

                                       Efficiency                        \
           var         min         max       mean    median         sum
year
2018  2.084443  100.004253  110.050978   0.301189  0.305827  109.933976
2019  5.034836  100.003714  109.944073   0.288853  0.303023  105.431184
2020  2.047405  100.003732  109.178997   0.284348  0.293657   69.096524


           std       var       min       max
year
2018  0.036174  0.001309  0.099976  0.344388
2019  0.054016  0.002918  0.099739  0.341249
2020  0.034596  0.001197  0.099995  0.318831

[3 rows x 21 columns]

The names of columns for further processing

['Electricity', 'Gas consumption', 'Efficiency']

Make a nested list

[['Electricity_mean',
  'Electricity_median',
  'Electricity_sum',
  'Electricity_std',
  'Electricity_var',
  'Electricity_min',
  'Electricity_max'],
 ['Gas consumption_mean',
  'Gas consumption_median',
  'Gas consumption_sum',
  'Gas consumption_std',
  'Gas consumption_var',
  'Gas consumption_min',
  'Gas consumption_max'],
 ['Efficiency_mean',
  'Efficiency_median',
  'Efficiency_sum',
  'Efficiency_std',
  'Efficiency_var',
  'Efficiency_min',
  'Efficiency_max']]

The length of the list

Deconstruction of nested list

['Electricity_mean',
 'Electricity_median',
 'Electricity_sum',
 'Electricity_std',
 'Electricity_var',
 'Electricity_min',
 'Electricity_max',
 'Gas consumption_mean',
 'Gas consumption_median',
 'Gas consumption_sum',
 'Gas consumption_std',
 'Gas consumption_var',
 'Gas consumption_min',
 'Gas consumption_max',
 'Efficiency_mean',
 'Efficiency_median',
 'Efficiency_sum',
 'Efficiency_std',
 'Efficiency_var',
 'Efficiency_min',
 'Efficiency_max']

Column names assignment

Range calculation

,Electricity_mean,Electricity_median,Electricity_sum,Electricity_std,Electricity_var,Electricity_min,Electricity_max,Gas consumption_mean,Gas consumption_median,Gas consumption_sum,...,Efficiency_mean,Efficiency_median,Efficiency_sum,Efficiency_std,Efficiency_var,Efficiency_min,Efficiency_max,Electricity_range,Gas consumption_range,Efficiency_range
year,,,,,,,,,,,,,,,,,,,,,
2018,32.723035,33.214027,11943.907672,4.148757,17.212185,10.0,37.900189,108.474820,108.636490,39593.309291,...,0.301189,0.305827,109.933976,0.036174,0.001309,0.099976,0.344388,27.900189,10.046725,0.244412
2019,31.301939,32.895462,11425.207698,6.129899,37.575656,10.0,37.518253,107.948734,108.549256,39401.287755,...,0.288853,0.303023,105.431184,0.054016,0.002918,0.099739,0.341249,27.518253,9.940359,0.241510
2020,30.733396,31.777912,7468.215210,3.942850,15.546064,10.0,34.789254,107.911389,108.258369,26222.467638,...,0.284348,0.293657,69.096524,0.034596,0.001197,0.099995,0.318831,24.789254,9.175265,0.218836

Transposing DataFrame

Rounding DataFrame

In [32]:
dat_tab=

year                        2018      2019      2020
Electricity_mean           32.72     31.30     30.73
Electricity_median         33.21     32.90     31.78
Electricity_sum         11943.91  11425.21   7468.22
Electricity_std             4.15      6.13      3.94
Electricity_var            17.21     37.58     15.55
Electricity_min            10.00     10.00     10.00
Electricity_max            37.90     37.52     34.79
Gas consumption_mean      108.47    107.95    107.91
Gas consumption_median    108.64    108.55    108.26
Gas consumption_sum     39593.31  39401.29  26222.47
Gas consumption_std         1.44      2.24      1.43
Gas consumption_var         2.08      5.03      2.05
Gas consumption_min       100.00    100.00    100.00
Gas consumption_max       110.05    109.94    109.18
Efficiency_mean             0.30      0.29      0.28
Efficiency_median           0.31      0.30      0.29
Efficiency_sum            109.93    105.43     69.10
Efficiency_std              0.04      0.05      0.03
Efficiency_var              0.00      0.00      0.00
Efficiency_min              0.10      0.10      0.10
Efficiency_max              0.34      0.34      0.32
Electricity_range          27.90     27.52     24.79
Gas consumption_range      10.05      9.94      9.18
Efficiency_range            0.24      0.24      0.22

Saving information to ExcelFile

In [ ]:
writer=